* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e2019;
    color: #d3d0cb;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #d3d0cb;
    padding: 10px;
}

.red {
    color: red;
}

header nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

header nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    color: #d3d0cb;
    margin-top: 10px;
}

form {
    border: 1px solid #d3d0cb;
    width: 45%;
    display: inline-block;
    border-radius: 10px;
}

form p {
    padding: 10px;
}

img {
    max-width: 200px;
    margin-top: 10px;
}

p input[type="checkbox"] + a {
    color: #d3d0cb;
    text-decoration: underline;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
    outline: none;
    box-shadow:  0px 0px 0px 3px rgba(251, 255, 0, 0.493);
}

p input[type="checkbox"]:checked{
    accent-color: grey;
}

input[type="submit"]{
    background-color: #E2C044;
    width: 7%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid;
}

input[type="text"], input[type="email"]{
    width: 30%;
}

input[type="radio"]:checked{
    accent-color: grey;
}